.footer {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.footer__content {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.footer__column {
  flex: 1;
}

.footer__column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer__column ul {
  list-style: none;
  padding: 0;
}

.footer__column ul li {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.footer__column ul li a {
  color: white;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  width: 90%;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo-text {
  font-weight: 800;
  color: white;
  letter-spacing: 3px;
}

.footer__highlight {
  color: black;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  font-weight: bold;
}

.footer__logo img {
  width: 120px;
  margin-right: 5px;
}

.footer__logo span {
  font-size: 2.5rem;
  line-height: 1.2;
}

.footer__links {
  display: flex;
  gap: 100px;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer__social a {
  color: white;
  margin: 10px;
  font-size: 36px;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }

  .footer__column {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__links {
    gap: 5px;
  }
}
