<section class="vinylstudio-section">
  <div class="content">
    <span class="tag">VINYL STUDIO</span>
    <h1 class="title">
      Make it real with <br />
      <u class="underline">Qrates Vinyl Studio</u>
    </h1>
    <p class="description">
      Design the look and feel of your vinyl and use the profit calculator to
      immediately see how much your project will cost, and how much you'll earn.
    </p>
    <div class="image-container">
      <img
        src="/images/dollar-sign.png"
        alt="Dollar Sign"
        class="dollar-sign"
      />
      <img src="/images/vinyl-disc.png" alt="Vinyl Disc" class="vinyl-disc" />
    </div>
    <button class="try-it-now">TRY IT NOW</button>
  </div>
</section>
