<main>
  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-content">
        <span class="hero-tag">WHY QRATES</span>
        <h1 class="hero-title" [@fadeInUp]>
          Your music on vinyl.<br />
          Without the <span class="underline">barriers</span>.
        </h1>
        <p class="hero-description">
          {{ displayedText }}<span class="cursor"></span>
        </p>
      </div>
      <div class="hero-images">
        <div class="image-container top">
          <img
            src="https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
            alt="Vinyl record"
          />
        </div>
        <div class="image-container bottom">
          <img src="/images/tapes.png" alt="Vinyl record collection" />
        </div>
      </div>
    </div>
  </section>
</main>
