<div class="making-records-container">
  <div class="left-section">
    <div class="services-tag">OUR SERVICES</div>
    <h1 class="main-heading">
      YOU MAKE MUSIC.<br />
      WE DO THE REST.
    </h1>
    <img
      src="/images/studio-image.png"
      alt="Studio recording"
      class="studio-image"
    />
    <p class="description">
      We want you to be able to put all your energy into the creative side of
      making music. So we created a one-stop shop for everything else.
    </p>
    <button class="learn-more" (click)="learnMore()">LEARN MORE</button>
  </div>

  <div class="right-section">
    <div class="services-list">
      <ng-container *ngFor="let category of serviceCategories">
        <h2 class="section-title">{{ category.name }}</h2>

        <div class="service-item" *ngFor="let service of category.services">
          <button
            class="service-button"
            [class.expanded]="service.isExpanded"
            (click)="toggleService(service)"
          >
            {{ service.title }}
          </button>
          <div class="service-description" *ngIf="service.isExpanded">
            {{ service.description }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
